*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

body{
    height: 100dvh;
    width: 100vw;
    overflow: hidden;
    background: url("./pokemon_anime_kanto_region_route_1_by_nepheskhaim_dgwzvvh-fullview.png") no-repeat center/cover;
}

.main-wrapper{
    height: 90%;
    width: 50%;
    margin: 40px auto;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    backdrop-filter: blur(10px);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    border: 1.5px solid #deecd8;
}

.text-area{
    height: auto;
    width: 100%;
    text-align: center;
}

.poke-area{
    width: 100%;
    height: 80%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.button-wrapper{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.text-area input, .text-area button{
    margin-top: 20px;
}

button{
    height: 30px;
    min-width: 100px;
    max-width: 150px;
    border-radius: 10px;
    padding: .3rem;
    background: #A2D7D5;
    border:1.5px solid #55A3AB;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    transition: all 300ms ease-in-out;
}

button:hover{
    background: #55A3AB;
    border: 1.5px solid black;
    scale: .98;
}

input{
    height: 30px;
    padding: .2rem;
    border-radius: 5px;
    background: rgba(255,255,255,0.5);
    backdrop-filter: blur(10px);
}

#pokemonSprite{
    height: 250px;
    width: 250px;
    display: none;
}

#shinyBtn, .poke-area h3, .poke-area p {
    display: none;
}