*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

html{
    font-size: 16px;
}

body{
    width: 100vw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("./pokemon_anime_kanto_region_route_1_by_nepheskhaim_dgwzvvh-fullview.png") no-repeat center/cover;
}

.main-wrapper{
    height:80%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter:blur(10px);
    border-radius: 16px;
    padding: 1rem;
    justify-content: space-between;
}



.main-wrapper img{
    width: 200px;
    display: none;
}

.button-wrapper{
    display: flex;
    gap: 20px;
}

.text-area{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input{
    padding: .5rem;
    border-radius: 10px;
    border: none;
    flex:3;
}

.text-area button{
    flex:0;
}

button{
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 20px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}


@media (max-width: 768px){
    .main-wrapper{
        width: 98%;
        
    }

    .main-wrapper img{
        width: 150px;
    }

    button{
        padding:.5rem;
        font-size: 12px;
    }
}